.header {
    width: 100vw;
    height: 12vw;
}

.header #setAlarm{
    position: fixed;
    right: 2vw;
}

.header #setAlarm img{
    width: 5vw;
    height: 5vw;
}

.header #alarmDialog {
    width: 60vw;
    height: 20vw;

    position: fixed;
    left: 18%;
    top: 40%;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    display: none; /* Initially hidden */
}

/*****************************闹钟列表部分*****************************************/

.alarmList {
    width: 100vw;
    padding-bottom: 14vw;
}

.alarmList li{
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    border-bottom: solid 1px #DDD;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/*******************************footer******************************************/
.footer {
    width: 100vw;
    height: 14vw;
    border-top: solid 1px #DDD;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 0;
}

.footer li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #999;
    user-select: none;
    cursor: pointer;
}

.footer li p{
    font-size: 2.1vw;
    margin-top: 0;
}

.footer li img{
    width: 3.5vw;
    height: 3.5vw;

    margin-top: 1vw;
}