.wrapper {
    width: 100%;
    height: 100%;
}
.wrapper .header {
    width: 100vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .header h1{
    font-size: 10vw;
    font-weight: 500;
    margin-left: 7vw;
}

.wrapper .header .setAlarm{
    margin-right: 7vw;
}

.wrapper .header .setAlarm img{
    width: 10vw;
    height: 10vw;
}
/******************************************** 闹钟设置对话框菜单部分 **********************************************************/
.wrapper .alarm-dialog {
    width: 100vw;
    height: 100%;

    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Initially hidden */
    flex-direction: column;
}

.wrapper .alarm-dialog .alarm-dialog-header{
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .alarm-dialog .alarm-dialog-header span{
    font-size: 5vw;
    font-weight: 700;
    color: #888888;
}

.wrapper .alarm-dialog .alarm-dialog-header span:first-child{
    font-weight: 500;
    color: orange;
}

.wrapper .alarm-dialog .alarm-dialog-header span:last-child{
    color: orange;
}

.wrapper .alarm-dialog .select-time{
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4vw;
    margin-bottom: 12vw;
}
.wrapper .alarm-dialog .select-time .alarmTime{
    width: 35vw;
    height: 6vw;
    background-color: #f2f2f2;
    border: solid 1px #cccccc;
    border-radius: 6px;
    padding: 8px;
    margin: 0 2vw 0 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #666;
    font-size: 3.2vw;
}

.wrapper .alarm-dialog .select-more li{
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #DDD;
    border-top: solid 1px #DDD;
    font-size: 4vw;
}
.wrapper .alarm-dialog .select-more li span:last-child{
    margin-right: 2vw;
    color: #888888;
}

.wrapper .alarm-dialog .select-more li input{
    text-align: right;
    margin-right: 2vw;
    border: none;
    outline: none;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 4vw;
    color: #888888;
}

/*闹钟编辑部分专有的删除按钮*/
.wrapper .alarm-dialog button{
    width: 100%;
    height: 12vw;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: lightpink;
    color: red;
    font-size: 4vw;
    margin-top: 4vw;
}
/***************************** 重复对话框部分**************************************/
.wrapper .repetition-dialog {
    width: 100vw;
    height: 100%;

    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Initially hidden */
    flex-direction: column;
}

.wrapper .repetition-dialog .repetition-dialog-header{
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vw;
}

.wrapper .repetition-dialog .repetition-dialog-header span{
    font-size: 5vw;
    font-weight: 700;
    color: #888888;
}

.wrapper .repetition-dialog .repetition-dialog-header span:first-child{
    font-weight: 500;
    color: orange;
}

.wrapper .repetition-dialog .repetition-dialog-header span:last-child{
    color: orange;
}
/************************************* 重复对话框的复选框部分*****************************************************/
.wrapper .repetition-dialog .repetition-type{
    width: 100%;
}

.wrapper .repetition-dialog .repetition-type input[type="checkbox"] {
    display: none;
}

/* 自定义复选框样式 */
.wrapper .repetition-dialog .repetition-type input[type="checkbox"] + label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.wrapper .repetition-dialog .repetition-type input[type="checkbox"] + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid transparent; /* 将边框设为透明 */
    border-radius: 3px;
}

.wrapper .repetition-dialog .repetition-type input[type="checkbox"]:checked + label:before {
    content: '✔';
    font-size: 16px;
    color: orange;
    line-height: 20px;
    text-align: center;
}

.wrapper .repetition-dialog .repetition-type input[type="checkbox"] + label span {
    order: 1; /* 调整文本的位置 */
}

.wrapper .repetition-dialog .repetition-type input[type="checkbox"] + label:before {
    order: 2; /* 调整勾选框的位置 */
}
/*****************************闹钟列表部分*****************************************/

.wrapper .alarmList {
    width: 100vw;
    padding-bottom: 14vw;
}

.wrapper .alarmList li{
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
    padding: 2.5vw;
    border-bottom: solid 1px #DDD;
    border-top: solid 1px #DDD;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .alarmList li .hourMinute {
    font-size: 7vw;
}

.wrapper .alarmList li .alarm-detail {
    font-size: 3.2vw;
    color: #999;
}

.wrapper .alarmList li button{
    background-color: #007AFF;
    border: none;
    font-size: 3vw;
    text-align: center;
    color: #ffffff;
    width: 15vw;
    height: 7vw;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
}
/*******************************footer******************************************/
.wrapper .footer {
    width: 100vw;
    height: 14vw;
    border-top: solid 1px #DDD;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 0;
}

.wrapper .footer li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #999;
    user-select: none;
    cursor: pointer;
}

.wrapper .footer li p{
    font-size: 2.1vw;
    margin-top: 0;
}

.wrapper .footer li img{
    width: 3.5vw;
    height: 3.5vw;

    margin-top: 1vw;
}